{% extends 'base.html' %}

{% block content %}
    <h1>Rock Paper Scissors</h1>

    <form action="/result" method="post">
        <label for="player1name">Player 1 Name</label>
        <input type="text" name="player1name" id="player1name">
        <label for="hand1">Player 1 Choice</label>
        <select name="hand1" id="hand1">
            <option value="rock">rock</option>
            <option value="paper">paper</option>
            <option value="scissors">scissors</option>
        </select>
        <label for="player2name">Player 2 Name</label>
        <input type="text" name="player2name" id="player2name">
        <label for="hand2">Player 2 Choice</label>
        <select name="hand2" id="hand2">
            <option value="rock">rock</option>
            <option value="paper">paper</option>
            <option value="scissors">scissors</option>
        </select>
        <input type="submit" value="Play">
    </form>
    <div>
        <p>
            {{feedback}}
        </p>
    </div>
{% endblock %}